marquee a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

/* Popup overlay */
.popup-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 100px;
  width: 100%;
  height: 85%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

/* Popup image */
.popup-overlay img {
  max-width: 90%;
  max-height: 90%;
  border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* Close button */
.close-popup {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.close-popup:hover {
  color: #ff4444;
}
@media only screen and (max-width: 767px) {
  .about-style-two {
    padding: 0px;
    padding-bottom: 40px;
  }
  .upcoming-events {
    padding: 0 120px;
  }
}
